code-paste-backend/notification_service/config/production_config.yml
code-paste-backend/notivication_service/config/testing_config.yml

code-paste-backend/client_backend/config/production_config.yml
code-paste-backend/client_backend/config/testing_config.yml

code-paste-backend/search_backend/config/production_config.yml
code-paste-backend/search_backend/config/testing_config.yml

postgres-data